@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  background-color: #0a192f;
  /* height: 100vw; */
}
.home-container .line-after {
  position: relative;
  overflow: hidden;
  display: block;
  padding-left: 3.54vw;
  padding-bottom: 3.54vw;
}
.home-container .title {
  display: block;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 61px;
  color: white;
}
.home-container .line-after :after {
  content: "";
  position: absolute;
  width: 42vw;
  top: 50%;
  margin-left: 3.54vw;
  border: 1px solid #64ffda;
}
